<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%=title%></title>

        <%- include('partials/head.ejs')%>
    </head>

    <body>
        <!-- Navbar -->
        <%- include('partials/navigation.ejs')%>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About me</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ipsum dolore eaque ullam. Id velit, facilis accusantium 
                    repellendus officia magnam, facere ullam quod iste vel perspiciatis vitae eveniet enim? Consectetur voluptas aut ullam 
                    quae similique molestiae ipsa blanditiis velit aliquid animi quasi eveniet eum, veniam dignissimos perferendis unde totam? 
                    Laudantium eligendi voluptas, rem corrupti asperiores inventore pariatur assumenda nisi. Voluptatum facere ut voluptas itaque 
                    omnis non fugit ipsa error culpa enim accusantium dolores ipsam maxime ea, praesentium cumque. Rerum enim, exercitationem 
                    esse modi porro ipsam quibusdam nihil animi officia dignissimos ipsa totam libero recusandae ullam aperiam dolor deleniti 
                    est dolores illum odit ex id beatae nulla. Aliquid cum quos, ad recusandae veniam accusamus doloribus. Voluptate at illum 
                    ipsa quisquam reprehenderit repellendus aliquam eveniet assumenda natus voluptas accusantium cupiditate, ullam ut eos nesciunt, 
                    optio atque. Ipsam vero sit id maiores, molestiae aperiam non delectus eius voluptatum sed sequi, cupiditate quo saepe omnis 
                    velit unde officia dicta possimus consequatur debitis quaerat. Doloribus repellendus, mollitia ipsa quam dolores nisi modi! 
                    Aut nesciunt, distinctio amet dicta dolorum perferendis quasi quaerat accusantium pariatur asperiores alias. Necessitatibus 
                    vel eaque odit deserunt enim similique ut eius quis, unde placeat consequatur maiores recusandae minima, suscipit natus ab explicabo.</p>
            </section>
        </main>

        <!-- Footer -->
        <%- include('partials/footer.ejs')%>
    </body>
</html>